.chatText {
  position: absolute;
  bottom: 10%;
  width: 95vw;
  margin: 0 auto;
  text-align: center;
}

input {
  width: 60vw;
  height: 35px;
  margin: 0 auto;
  border-radius: 13px;
  border: none;
}

input[type="submit"] {
  border-radius: 6px;
  border: none;
  height: 40px;
  width: 80px;
  background-color: #03132c;
  border: solid 1px #00FEDE;
  color: #00FEDE;
  margin-left: 20px;
}
